{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="../static/css/home.css">
{% endblock %}

{% block content %}
<main>
    <!-- Verificação de admin -->
    {% if session['admin'] == 'S' %}
    <section id="admin-actions">
        <button><a href="{{ url_for('approveEvents') }}">Aprovar Eventos</a></button>
        <button><a href="{{ url_for('finalizarApostas') }}">Finalizar Apostas</a></button>
    </section>
    {% else %}
    <section id="user-actions">

        <div class="div-banner"><img class="banner" src="../static/assets/banner_1.png" alt="Banner"></div>

        <!-- Formulário de busca -->

        <div class="div-search-button">
          <div class="searchbar">
          
            <form id="search-form" onsubmit="three()" method="get" action="{{ url_for('resultEvents') }}">
                <div class="search-container">
                  <svg width="1em" height="1em" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="sc-cnTVOG sc-fiqaAJ  iSiExi"><defs><path d="M11.544 11.527a5.464 5.464 0 01-7.71 0 5.445 5.445 0 010-7.699 5.464 5.464 0 017.71 0 5.445 5.445 0 010 7.7m8.063 6.184l-5.614-5.635a7.641 7.641 0 001.385-4.4 7.64 7.64 0 00-2.252-5.428A7.672 7.672 0 007.69 0a7.672 7.672 0 00-5.437 2.249A7.641 7.641 0 000 7.678a7.641 7.641 0 002.252 5.429 7.672 7.672 0 005.437 2.249 7.672 7.672 0 004.406-1.384l5.614 5.635a1.344 1.344 0 001.898 0 1.339 1.339 0 000-1.895" id="icon-search_svg__a"></path></defs><use fill="currentColor" xlink:href="#icon-search_svg__a" fill-rule="evenodd"></use></svg>
                    <input type="text" name="q" placeholder="Pesquisar" id="search" class="searchbar">
                </div>
            </form>
          </div>
          <div class="div-botao">
            <button><a href="{{ url_for('categoryEvents') }}">Categorias</a></button>
            <button><a href="{{ url_for('createNewEvent') }}">Criar Evento</a></button>
          </div>
        </div>
    </section>

    
    <div class="div-all-eventos">
      <h1>Destaques:</h1>
    {% if dataapostas or maisapostas %}
    <!-- Destaques -->
      <section class="hightlights">
          {% if dataapostas %}
          <!-- Próximos de vencer -->
          <div class="container-1">
            <h2>Já já acaba!</h2>
            <article class="all-eventos">
                    {% for rows in dataapostas %}
                    <div class="container-eventos">
                    <h2>{{ rows[2] }}</h2>
                    <p>Prazo de inscrição:</p>
                    <div class="datas">
                      <span>
                        <p>{{ rows[7].strftime('%d/%m') }}</p>
                      </span>
                      <img src="../static/assets/Arrow 1.png" alt="">
                      <span>
                        <p>{{ rows[9].strftime('%d/%m') }}</p>
                      </span>
                    </div>
                    <p>Aposta mínima:</p>
                    <p>{{ rows[5] }}</p>
                    <a href="/apostar-evento/{{ rows[0] }}">Apostar</a>
                  </div>
                    {% endfor %}
            </article>
          </div>
          {% endif %}
          {% if maisapostas %}
          <div class="container-2">
            <h2>Os netinhos estão amando!</h2>
            <article  class="all-eventos">
                    {% for rows in maisapostas %}
                    <div class="container-eventos">
                    <h2>{{ rows[2] }}</h2>
                    <p>Prazo de inscrição:</p>
                    <div class="datas">
                      <span>
                        <p>{{ rows[7].strftime('%d/%m') }}</p>
                      </span>
                      <img src="../static/assets/Arrow 1.png" alt="">
                      <span>
                        <p>{{ rows[9].strftime('%d/%m') }}</p>
                      </span>
                    </div>
                    <p>Aposta mínima:</p>
                    <p>{{ rows[5] }}</p>
                    <a href="/apostar-evento/{{ rows[0] }}">Apostar</a>
                  </div>
                    {% endfor %}
            </article>
          </div>
          {% endif %}
      {% endif %}
      {% if result %}
        <div class="container-3">
          <h2>Todos os eventos</h2>
            <article  class="all-eventos">
                    {% for rows in result %}
                    <div class="container-eventos">
                    <h2>{{ rows[2] }}</h2>
                    <p>Prazo de inscrição:</p>
                    <div class="datas">
                      <span>
                        <p>{{ rows[7].strftime('%d/%m') }}</p>
                      </span>
                      <img src="../static/assets/Arrow 1.png" alt="">
                      <span>
                        <p>{{ rows[9].strftime('%d/%m') }}</p>
                      </span>
                    </div>
                    <p>Aposta mínima:</p>
                    <p>{{ rows[5] }}</p>
                    <a href="/apostar-evento/{{ rows[0] }}">Apostar</a>
                  </div>
                    {% endfor %}
            </article>
        </div>
    </section>
      {% endif %}
      {% endif %}
    </div>
</main>
{% endblock %}
